.scrollnavbar {
  .v-list--one-line {
    .v-list-group__items .v-list-item,
    .v-list-item {
      padding-inline-start: 12px !important;
      padding-left: 12px;
    }
    .v-list-group__items .v-list-item .v-avatar.v-avatar--density-default,
    .v-avatar.v-avatar--density-default {
      width: 20px;
      height: 34px;
    }
    .v-list-item--active {
      background: rgb(var(--v-theme-secondary));
      color: white;
    }
  }
}
